.new_pass{
  width: 300px;
  height: 400px;
  border: 1px solid yellowgreen;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.new_pass{
  text-align: center;
}
.new_pass h3{
  margin-top: 30%;
}
form{
  margin-top: 10%;
}
form input{
  width: 80%;
  height: 40px;
  font-size: 20px;
  margin-bottom: 10px;
}
form button{
  margin-top: 20px;
  width: 80%;
  height: 30px;
  font-size: 20px;
  background: green;
  border: none;
  border-radius: 5px;
}
form button a{
  text-decoration: none;
  color: #fff;
}
.clock{
  margin-top: 23%;
  color: #f00;
}