*{
  margin: 0;
  padding: 0;
}
.regi_page{
  width: 350px;
  height: 720px;
  border: 1px solid #ddd;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.titel{
  width: 90%;
  margin: auto;
  margin-top: 20px;
}
.titel h3{
  margin-bottom: 10px;
}
form{
  margin-top: 30px;
}
form input{
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  font-size: 20px;
}
form input:focus{
  outline: none;
}
form input:nth-child(1){
  margin-top: -20px;
}
form select{
  width: 101%;
  height: 40px;
  margin-bottom: 10px;
}
form textarea{
  width: 100%;
}
form button{
  width: 120px;
  height: 40px;
  background: green;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 7px;
  margin-top: 15px;
}
button a{
  color: #fff;
  margin-left: -5px!important;
}
form a{
  margin-left: 18px;
  font-size: 18px;
  text-decoration: none;
}
.regi_page strong{
  margin-top: 10px;
}
.clock{
  text-align: center;
  margin-top: 8px;
  color: #f00;
}